{% extends "base_en.html" %}
{% block mycontent_en %}
{% load filters %}

  <section id="next" class="py-3 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>What is Charlie?</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead">
            The registered Charlie association offers students and employees of Charles University and other 
            universities, as well as their friends and allies, <b> a platform for self-realisation, 
            socialization, entertainment and for finding support in difficult life situations.</b>
            <br/>
            It focuses primarily on <b>gay, lesbian, bisexual, asexual and transgender people</b> and their 
            right not to be discriminated against based on their sexual and/or gender identity.
            <br/>Charlie association's mission is to improve not only queer people´s quality of life, 
            but also the entire academic community and society by the means of perpetuating <b>mutual respect 
            and acceptance of diversity</b>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="more" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead">
            Charlie´s goal is to provide a <b>dignified safe heaven for minorities</b>, thanks to which we´ll 
            be able to <b>cooperate with the majority</b> instead of isolating ourselves. Thats why membership 
            is open to heterosexuals, allies, absolvents and other interested parties that perceive the problem 
            of unequal opportunities as a serious social issue.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead">
            The association consists of several dozen members who partake in a diverse range of activities with 
            consideration to Charlie's mission. The most important projects are directed towards students. One of 
          </p>
          <p class="lead">
            At the same time, the association honours a positive presentation of Charles University as an academic 
            institution which is aware of both advantages and potencial conflicts created by embracing diversity.
            Charlie systematically deals with conflict prevention. For this reason Charlie´s events include <b>lectures, 
            discussions, movie projections, exhibitions, picnics, trips, competitions</b> and other cultural and social 
            events.
          </p>
          <p class="lead">
            We also cooperate with other queer organisations, both foreign and those in the Czech Republic. 
            Our most important events are our <b>regular Tuesday meetings</b>, designed for socialisation and making 
            new friends in and outside the queer world. They are open to both members and newcommers alike.
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
