{% load filters %}
{% load static %}

<section id="partners">
    <div class="container slick-container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h2>Partners</h2>
                <div class="row">
                    <div class="container">
                        <div class="customer-logos slider text-center" data-arrows="true">
                            <div class="slide">
                                <a target="_blank" href="https://safespacealliance.com">
                                    <img src="{% static 'ssa.png' %}" alt="Safe Space Alliance">
                                    <span>Safe Space Alliance</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://www.kampushybernska.cz"><img
                                        src="{% static 'hyb4_cerna.png' %}" alt="Hybernská">
                                    <span>Hybernská</span></a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://praguepride.cz">
                                    <img src="{% static 'praguepride.png' %}" alt="Prague PRIDE">
                                    <span>Prague PRIDE</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="http://proud.cz">
                                    <img src="{% static 'proud_lg2.jpeg' %}" alt="PROUD">
                                    <span>PROUD</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://www.jsmefer.cz">
                                    <img src="{% static 'jsmefer2.png' %}" alt="Jsme Fér">
                                    <span>Jsme Fér</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://www.kampushybernska.cz/projekty/studentska-hybernska/">
                                    <img src="{% static 'spol_hyb.png' %}" alt="Studenstká Hybernská">
                                    <span>Studenstká Hybernská</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://www.odnaproti.cz">
                                    <img src="{% static 'odnaproti.jpeg' %}" alt="od naproti">
                                    <span>odnaproti.cz</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://strada.ff.cuni.cz">
                                    <img src="{% static 'studentska_rada.jpeg' %}" alt="Studenstká rada Univerzity Karlovy">
                                    <span>Studenstká rada Univerzity Karlovy</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://www.iglyo.com">
                                    <img src="{% static 'iglyo.png' %}" alt="IGLYO">
                                    <span>IGLYO</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://www.queerpamet.cz">
                                    <img src="{% static 'pamet.jpeg' %}" class="rounded-lg" alt="Společnost pro queer paměť">
                                    <span>Společnost pro queer paměť</span>
                                </a>
                            </div>
                            <div class="slide">
                                <a target="_blank" href="https://galibi.cz">
                                    <img src="{% static 'galibi.jpeg' %}" alt="Galibi">
                                    <span>Galibi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
