{% extends "base.html" %}
{% block mycontent %}
{% load filters %}

<div class="d-flex flex-wrap align-items-start justify-content-start">

    {% for file in files %}

        <div class="card m-3" style="width: 30rem;">
            <div class="card-body">
                <h4 class="card-title">{{ file.name }}</h4>
<!--                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->

                <p class="card-text">{{ file.description }}</p>

<!--                <a class="btn btn-primary">Zobrazit</a>-->
<!--                <a href="#" class="btn btn-primary">Stáhnout</a>-->

                {% if file.file_type not in "doc,docx" %}
                    <a href="{% url 'view_file' file.slug %}" class="card-link">Zobrazit</a>
                {% endif %}

                <a href="{% url 'download_file' file.slug %}" class="card-link">Stáhnout</a>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}
