{% load static %}

<div class="modal fade" id="tuesday" tabindex="-1" role="dialog" aria-labelledby="tuesdayLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tuesdayLabel">Úterní setkání</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text">
                    Každé úterý můžete přijít na naše pravidelné setkání, které se koná v některém z pražských queer 
                    friendly barů, kaváren nebo restaurací. Cílem úterních setkání je poznat se navzájem, navázat nová 
                    přátelství a odpočinout si po dlouhém dni. Jedná se o naší základní a také nejstarší akci. Občas je 
                    klasické setkání nahrazeno například deskovkami, piknikem nebo přednáškou.
                </p>
                <div style="margin-top:2rem;">
                    <img class="card-img-top" src="{% static 'utery2.jpg' %}" alt="Card image cap">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nightOut" tabindex="-1" role="dialog" aria-labelledby="NightOutLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NightOutLabel">Night Out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text">
                    Are you new in Prague? Do you want to get to know other LGBTQIA+ students or expats and find new
                    friends? Come join us for a Night Out! <br>
                    This event is intended for foreign students currently studying in Prague or anyone who wants to
                    practice their English skills and meet new friends. 🌈 <br>
                    Anyone is welcome! <br>
                    We are looking forward to seeing you. <br>
                    If you have any questions, don't know where the venue is or are too shy to come alone and want us
                    to pick you up somewhere, feel free to write us a private message 🌈❤️
                </p>
<!--                <div style="margin-top:2rem;">-->
<!--                    <img class="card-img-top" src="{% static 'nightout.jpg' %}" alt="Card image cap">-->
<!--                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deskovky" tabindex="-1" role="dialog" aria-labelledby="deskovkyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deskovkyLabel">Deskovky</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text">
                    Hrajete rádi deskové hry? Přijďte si zahrát s námi! Jednou měsíčně pořádáme deskovečer. Hrajeme
                    všechny typy her, karetní hry, hry na postřeh, ale i hry logické a strategické, u kterých budete
                    zapojovat své mozkové buňky.
                    Hry si nosíme vlastní. Pokud sám vlastníš nějakou zábavnou deskovou hru, kterou by sis chtěl s
                    námi zahrát, budeme rádi, když ji přineseš.
                </p>
<!--                <div style="margin-top:2rem;">-->
<!--                    <img class="card-img-top" src="{% static 'movie.jpg' %}" alt="Card image cap">-->
<!--                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<!--
FILMY
Sledujete rádi filmy? Pokud ano, náš klub vám nabízí spoustu bijáků a kultovních klasik všeho druhu, od komedií,
přes romantické slaďáky, hořkosladká dramata až po hořké dokumenty. Všem promítaným filmům je společná jejich queer
tématika. Při jejich sledování si společně s hlavními postavami opět prožijete coming outy, první lásky, odloučení,
strach či začlenění do LGBTQ+ komunity. Po samotném promítání často následuje i diskuze, kde se s ostatními diváky
můžete podělit o svoje pocity. -->

<div class="modal fade" id="trip" tabindex="-1" role="dialog" aria-labelledby="tripLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tripLabel">Výlety</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text">
                    Pokud už máte dost vysedávání po barech a kavárnách, nebo prostě jenom rádi chodíte a objevujete
                    nová místa, pojďte s námi na výlet. Vyrážíme jak na kratší trasy po městě, tak na celodenní
                    výpravy do vzdálenějšího okolí Prahy. Výlety se obvykle konají jednou za tři týdny, střídavě v
                    sobotu a v neděli, ale je třeba se podívat na náš Facebook, kdy a kde se konkrétně sejdeme.
                </p>
                <div style="margin-top:2rem;">
                    <img class="card-img-top" src="{% static 'trip.jpg' %}" alt="Card image cap">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<section id="events" class="py-4 pt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>
                    Naše akce
                    <a href="{% url 'upcoming_events' %}" class="btn btn-outline-primary ml-5">
                        Kalendář akcí
                    </a>
                </h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="event card my-3 shadow shadow-hover pointer" data-toggle="modal"
                             data-target="#tuesday">
                            <div class="card-body lead text-center">Úterní setkání</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="event card my-3 shadow shadow-hover">
                            <div class="card-body lead text-center" data-toggle="modal"
                             data-target="#nightOut">
                                <img src="{% static 'night_out.JPG' %}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="event card my-3 shadow shadow-hover" data-toggle="modal"
                             data-target="#deskovky">
                            <div class="card-body lead text-center">
                                Deskovky
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="event card my-3 shadow shadow-hover" data-toggle="modal"
                             data-target="#trip">
                            <div class="card-body lead text-center">
                                Výlety
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
