<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="Ns7mVvv8bG-ksej-eyz3HQ7-RNGZ1Y2kaP3OdznxHPw"/>
    <title>Spolek Charlie</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200;300;400&family=Raleway:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet"> <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="carousel/style.css">
</head>

<body id="page-top">
    <?php include("modals.php"); ?>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Spolek Charlie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">O nás</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#joinus">Přidejte se k nám</a>
                    </li>
                    <!--<li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="#events">Události</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/spolekcharlie" target="_blank">
                            <i class="fa fa-lg fa-facebook-square"></i>
                            <span class="d-inline d-lg-none"> Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/spolek_charlie" target="_blank">
                            <i class="fa fa-lg fa-instagram"></i>
                            <span class="d-inline d-lg-none"> Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header class="text-white" id="charlie-header">
        <div class="container text-center">
            <h1></h1>
            <p class="lead"></p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <p class="lead">
                        Vítejte na stránkách Charlie, queer spolku Univerzity Karlovy.
                        Jsme studentským spolkem s cílem vytváření komunitního prostoru pro LGBTQIA+ prostřednictvím
                        pořádání veřejných akcí rozmanitého typu nejen na akademické půdě.
                        Přijďte na některou z nich a poznejte nás blíže.
                    </p>
                    <div class="text-center">
                        <a href="about.php" class="btn btn-light btn-sm btn-more px-4 py-0 rounded-lg">
                            <small class="text-muted">Čti víc</small>
                            <i class="fa fa-ellipsis-h fa-3x text-muted"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section id="next" class="py-3 bg-danger text-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Nejbližší událost</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <ul>
              <li>
                <h3>Piknik | <small>Riegrovy sady</small></h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    -->

    <section id="" class="py-4 pt-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Naše akce</h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="event card my-3 shadow shadow-hover pointer">
                                <div class="card-body lead text-center">Úterní setkání</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="event card my-3 shadow shadow-hover">
                                <div class="card-body lead text-center">
                                    <img src="img/NightOut.JPG"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="event card my-3 shadow shadow-hover">
                                <div class="card-body lead text-center">
                                    <img src="img/Tender.JPG"/>
                                    <!-- Tender Gender -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="event card my-3 shadow shadow-hover">
                                <div class="card-body lead text-center">
                                    <!-- <img src="img/NightOut.JPG" /> -->
                                    Filmový klub
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <p class="lead">
                        <!-- Pokud s náma potřebujete něco přediskutovat, můžete se obrátit na náš výbor: -->
                        V případě potřeby se na nás neváhejte obrátit a to i v případě pokud byste rádi přišli, ale nechce
                        se vám samotným.
                        Rádi se s vámi některý z členů sejde před událostí a uvede vás.
                    </p>
                    <h2>Výbor</h2>
                    <div class="row">
                        <?php foreach ($vybor as $clen) { ?>

                        <div class="col-md-12 col-lg-6 my-3">
                            <div class="media rounded-lg p-2" data-toggle="modal" data-target="#vyborModal<?= $clen["
                                 acronym
                            "] ?>">
                            <a class="pull-left pr-3">
                                <img class="media-object dp rounded-lg shadow" src="img/sm_<?= $clen[" img"] ?>"
                                style="<?= $clen["img_attr"] ?>">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading m-0 mt-1"><?= $clen["name"] ?>
                                    <small>
                                        <?php
                            if ($clen["role"][1]) echo '<span class="badge badge-secondary">' . $clen["role"][1] . '</span>
                                        ';

                                        ?>
                                    </small>
                                </h5>
                                <span><?= $clen["role"][0] ?></span>
                                <hr class="rainbow">
                                <h6><a href="mailto:<?= $clen[" mail"][0] ?>"><?= $clen["mail"][0] ?></a></h6>
                            </div>
                        </div>
                    </div>
                    <?php } ?>

                </div>
            </div>
        </div>
    </section>


    <section id="joinus" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h2>Přidejte se k nám</h2>
                    <p class="lead">
                        Naše akce jsou otevřené pro všechny, uvítáme mezi sebe každého z Vás.
                        Podpořit nás můžete členstvím v roční nebo doživotní formě.
                        Členství přináší výhody jako například slevy v některých podnicích.
                        Pokud se k nám chcete přidat, stačí vyplnit žádost níže nebo přijít na jakýkoliv event.
                        <!-- Naše akce jsou vždy veřejné a uvítame mezi nás každého z Vás. No kdyby jste nás chtěli
                        <b>podpořit</b>, můžete se stát <b>naším členem</b>.
                        Členství přináší několik výhod, jako například slevy v některých podnicích.
                        Pokud se chcete přidat, můžete vyplnit žádost níže, nebo stačí přijít na jakoukoliv naši akci. -->
                    </p>
                    <div class="row">
                        <div class="col-auto my-2">
                            <a href="img/prihlaska_cz.pdf" target="_blank" class="btn btn-lg btn-primary">Žádost o
                                členství</a>
                        </div>
                        <div class="col-md-auto col-sm-12 my-auto">
                            <a href="img/prihlaska_cz.pdf" target="_blank"
                               class="btn btn-outline-primary mr-1">Přihláška</a>
                            <a href="img/stanovy_2013.pdf" target="_blank" class="btn btn-outline-primary">Stanovy</a>
                        </div>
                    </div>
                    <p class="lead mt-4">
                        Pro online vyřízení přihlášky nás můžete kontaktovat na <a href="mailto:tajemnik@spolekcharlie.cz">tajemnik@spolekcharlie.cz</a>.
                    </p>
                    <p class="lead mt-4">
                        Zaplatit členský poplatek nebo nám umožnit dále se rozvíjet můžete skrze transparentní účet Charlie.
                        Za příspěvek předem děkujeme.
                        <!-- Zaplatit členský poplatek nebo nás podpořit můžete na náš transparentní účet: -->
                    </p>
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <i class="fa fa-3x fa-credit-card"></i> <span class="lead ml-3">2000162762/2010</span>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- <section id="events">

  <div class="container">

    <div class="row">

      <div class="col-lg-9 mx-auto">

        <h2>Naše činnost</h2>

        <p class="lead"></p>

      </div>

    </div>

  </div>

</section> -->

<!--

<section id="newsletter">

  <div class="container">

    <div class="row">

      <div class="col-lg-9 mx-auto">

        <h2>Newsletter o událostech</h2>

        <p class="lead">

          V případě, že Vám zveřejňovaní našeho programu na sociálních sítích nevyhovuje,

          můžete se přihlásit k měsíčnímu odběru novinek emailem.

        </p>

        <form>

          <input type="email" placeholder="vas.mail@gmail.com" required="true" class="form-control" />

        </form>

      </div>

    </div>

  </div>

</section>

-->

    <section id="partners">
        <div class="container slick-container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h2>Partneři</h2>
                    <div class="row">
                        <div class="container">
                            <div class="customer-logos slider text-center" data-arrows="true">
                                <div class="slide" class="">
                                    <a target="_blank" href="https://safespacealliance.com">
                                        <img src="img/partners/ssa.PNG" alt="Safe Space Alliance">
                                        <span>Safe Space Alliance</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://www.kampushybernska.cz"><img
                                            src="img/partners/hyb4_cerna.png" alt="Hybernská">
                                        <span>Hybernská</span></a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://praguepride.cz">
                                        <img src="img/partners/praguepride.PNG" alt="Prague PRIDE">
                                        <span>Prague PRIDE</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="http://proud.cz">
                                        <img src="img/partners/proud_lg2.JPG" alt="PROUD">
                                        <span>PROUD</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://www.jsmefer.cz">
                                        <img src="img/partners/jsmefer2.PNG" alt="Jsme Fér">
                                        <span>Jsme Fér</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://www.kampushybernska.cz/projekty/studentska-hybernska/">
                                        <img src="img/partners/spol_hyb.png" alt="Studenstká Hybernská">
                                        <span>Studenstká Hybernská</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://www.odnaproti.cz">
                                        <img src="https://www.odnaproti.cz/_files/200000176-19e5b1adea/450/61125697_138743270541006_7747980101286887424_n.jpg?ph=09537cd477" alt="od naproti">
                                        <span>odnaproti.cz</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://strada.ff.cuni.cz">
                                        <img src="img/partners/SR-NEW2015-krivky-gray.jpg" alt="Studenstká rada Univerzity Karlovy">
                                        <span>Studenstká rada Univerzity Karlovy</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://www.iglyo.com">
                                        <img src="img/partners/iglyo.PNG" alt="IGLYO">
                                        <span>IGLYO</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://www.queerpamet.cz">
                                        <img src="img/partners/pamet.JPG" class="rounded-lg" alt="Společnost pro queer paměť">
                                        <span>Společnost pro queer paměť</span>
                                    </a>
                                </div>
                                <div class="slide">
                                    <a target="_blank" href="https://galibi.cz">
                                        <img src="img/partners/galibi.JPG" alt="Galibi">
                                        <span>Galibi</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Charlie, z.s. <?=date('Y')?></p>
            <p class="m-0 text-center text-white">Ovocný Trh 560/5, 110 00 Praha 1<br/>IČ: 22812571</p>
            <p class="m-0 text-center text-white">
                <small class="text-muted">Created by
                    <a target="_blank" href="https://richardmosko.eu">Richard Moško</a>
                </small>
            </p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('.customer-logos').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1000,
            arrows: true,
            dots: false,
            pauseOnHover: false,
            responsive: [{
              breakpoint: 768,
              settings: {
                slidesToShow: 4
              }
            }, {
              breakpoint: 520,
              settings: {
                slidesToShow: 3
              }
            }]
          });
        });
    </script>

</body>

</html>